<nav class="site-title">
    <div>
        <a href="/"><h1>MADERPADER</h1></a>
        <p>MADERPADER BLOGS</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>